In [0]:
%sql
CREATE OR REPLACE TABLE jpm.bharat_silver.transaction_silver AS
SELECT
  cust_id,
  start_date,
  end_date,
  txn_id,
  TO_DATE(date, 'yyyy-MM-dd') AS date,
  year,
  month,
  day,
  expense_type,
  amt,
  city,
  ingestion_date
FROM jpm.bharat_bronze.transactions_bronze

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.bharat_silver.customer_silver AS
SELECT
  cust_id,
  name,
  CAST(age AS INT) AS `Age`,
  gender AS `Gender`,
  birthday AS `birth`,
  zip,
  REPLACE(city, "_", "") AS `city`
FROM jpm.bharat_bronze.customer_bronze

In [0]:
df_cust= spark.table("jpm.bharat_silver.customer_silver")
df_txn=spark.table("jpm.bharat_silver.transaction_silver")
df_joined = df_cust.join(
    df_txn, 
    df_cust.cust_id == df_txn.cust_id, 
    "inner"
).select(
    df_cust.cust_id,
    'name',
    'age',
    'gender',
    'birth',
    'zip',
    df_cust.city,
    'start_date',
    'end_date',
    'txn_id',
    'date',
    'year',
    'month',
    'day',
    'expense_type',
    'amt'
)
df_joined.write.mode("overwrite").saveAsTable("jpm.bharat_gold.Complete_Gold");