In [0]:
CREATE TABLE IF NOT EXISTS jpm.bharat.sql_sales;
-----Copy INTO----
COPY INTO jpm.bharat.sql_sales
FROM 'abfss://raw@adlsdatamaster.dfs.core.windows.net/stream_in'
FILEFORMAT = csv
FORMAT_OPTIONS ('header'='true')
COPY_OPTIONS ('mergeSchema' = 'true');

select * from jpm.bharat.sql_sales

describe history jpm.bharat.sql_sales;

----Merge Into-------

create or replace table sql_bronze(id int, name string, country string);
insert into sql_bronze values (1,'Naval', 'India'), (2,'Suhash', 'US');
create or replace table sql_silver as select * from sql_bronze;
select * from sql_bronze;
select * from sql_silver;

update sql_bronze set country= 'UK' where id= 2;
insert into sql_bronze values (3,'Naveen','India');

MERGE INTO sql_silver
USING sql_bronze
ON sql_silver.id = sql_bronze.id
WHEN MATCHED THEN
  UPDATE SET
    sql_silver.name = sql_bronze.name,
    sql_silver.country = sql_bronze.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    country
  )
  VALUES (
   sql_bronze.id,
    sql_bronze.name,
    sql_bronze.country
  )

select * from sql_silver;